fastapi
crewai
uvicorn
whisper
openai
langchain
langchain-openai
langchain-community
pydantic
gTTS
python-multipart
sqlalchemy
psycopg2-binary
streamlit
pydub
FFmpeg
googletrans
fastapi-utils
openai-whisper
uuid
python-dotenv
